#mapid { height: 100%; }

.panel {
  overflow-y: auto;
  background: rgba(50,50,50,0.85);
  z-index: 9999;
  position: fixed;
  right: -15.625em; /*or width of your navigation panel*/
  width: 15.625em; /*should match the above value*/
}

#spinner{
  display: none;
  z-index: 9999;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 10px;
  left: 10px;
}

span{
  margin-top:6px;
}

.leaflet-touch .leaflet-bar a {
    width:35px;
    height:35px
  }

.nav-icon {
  margin-right: 6px;
}

.wrap {
	width: 100%;
  margin: 0 auto;
}
.layer-dropdown{
  border-bottom: thin solid #f4f4f4; 
  cursor: pointer;
}
.layer-dropdown-arrow{
    -webkit-transition: .1s ease;
    -moz-transition: .1s ease;
    transition: .1s ease;
    display: inline-block;
    position: absolute;
    margin-top: 10px;
    float: right;
    right: 10px;
}
.rotated { 
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    transform: rotateX(180deg);;
}

#layers-link{
    background-clip: padding-box;
    border: 2px solid rgba(0,0,0,0.2);
    background-clip: padding-box;
    border-radius: 3px;
    position: fixed;
    z-index: 1000;
    top: 10px;
    right: 10px;
}
.layers-img:hover{
  color:black;
}
#layers-close-div{
  width: 100%;
  height: 25px;
}
#layers-close{
    float: right;
    color: lightgray;
}
#layers-close:active{
    color:#992727;
}
#layers-close:hover{
    color:darkgrey;
}
.layers-img{
    width: 25px;
    height: 25px;
    border-radius: 3px;
    background: white;
    padding: 5px;
}
.menu-content{
  padding: 10px;
}

#scrubber_container {
    position: fixed;
    bottom: 0;
    width: 100%;
    overflow: hidden; 
    z-index: 1000;
}

.transform {
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  transition: .3s ease;
  -webkit-transform: translate3d(0px, 0px, 0px);
  -moz-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

.transform-active {
   -webkit-transform: translate3d(0px, 50px, 0px);
   -moz-transform: translate3d(0px, 50px, 0px);
}

.transform-active-right {
  -webkit-transform: translate3d(50px, 0px, 0px);
  -moz-transform: translate3d(50px, 0px, 0px);
}

.layer-select {
    background-position: 50% 50%;
    background-repeat: no-repeat;
	  display: block;
    background-image: url(images/layers.png);
    
}

.info-select {
    background-position: 50% 50%;
    background-repeat: no-repeat;
	display: block;
    background-image: url(images/Infobox_info_icon.svg.png);
    
}

.opacity-select {
    background-position: 50% 50%;
    background-repeat: no-repeat;
	display: block;
    background-image: url(images/opacity.png);
    background-size: 20px;
    opacity: 0.7;
}


.container {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  height: 40px;
  margin: auto;
  text-align: center;
}

body {
    padding: 0;
    margin: 0;
}

html, body, #map {
    height: 100%;
    font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.lorem {
    font-style: italic;
    color: #AAA;
}

.opacity-display{
    display: inline-block;
    padding-top: 9px;
    padding-right: 0px;
    float: right;
    margin: 0px;
    color: #f4f4f4;
  }

.toggles {
    width: 100%;
    padding-top: 5px;
    display: table;
}

h3 {
    color: #f4f4f4;
    display: inline-block;
}
.toggle-label{
    display: inline-block;
    color: #f4f4f4;
    padding: 5px;
    margin: 0px;
    display: table-cell;
    vertical-align: middle;
    font-weight: bold;
}

.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}
input.cmn-toggle-round-flat + label {
  float: right;
  right: 10px;
  padding: 2px;
  width: 50px;
  height: 20px;
  background-color: #dddddd;
  border-radius: 11px;
  transition: background 0.4s;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}
input.cmn-toggle-round-flat + label:before,
input.cmn-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}
input.cmn-toggle-round-flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #fff;
  border-radius: 60px;
  transition: background 0.4s;
}
input.cmn-toggle-round-flat + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 17px;
  background-color: #dddddd;
  border-radius: 10px;
  transition: margin 0.4s, background 0.4s;
}
input.cmn-toggle-round-flat:checked + label {
  background-color: #8ce196;
}
input.cmn-toggle-round-flat:checked + label:after {
  margin-left: 29px;
  background-color: #8ce196;
}